/*color pallette:
#A593E0
#E0E3DA
#FFFFF3
#566270*/


* {
  font-family: brandon-grotesque,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.cursive {
  font-family: 'Dawning of a New Day', cursive;
  color: #566270;
}

.name {
  font-size: 100px;
}

.subname {
  font-size: 30px;
}



.flexContainer{
  /*border: 1px solid black;*/
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}

.box{
  /*border:1px solid goldenrod;*/
}

.left {
  text-align: right;
}

.right {
  text-align: left;
}

.center {
  text-align: center;
  color: #A593E0;
}

#menu{
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}

#menu li {
	display:inline-block;
	margin: 0 10px;
	color: #566270;

	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#menu li a{
	text-decoration:none;
	color: #566270;
  padding: 4px 18px;
  display:block;
}

#menu li.active{
  text-decoration: underline;
}

#menu li.active a:hover{

}

#menu li:hover{
	text-decoration: underline;
}

.social-media-icons{
  text-align: center;
}

.social-media-outer{
  display: inline-block;
}

img{
  height: 60px;
  margin: 20px;
}

#right4, #left3, #right2{
  background-color: #FFFFF3 !important;
}

.contact{
  color: #A593E0;
  text-align: center;
  font-size: 1.2em;
}

.contact-info{
  margin: 30px;
}
